 ul {
     padding: 0;
     margin: 20px -20px;
     list-style: none;
 }

 li {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: auto;
     padding: 10px 20px;
     border-bottom: 1px solid #ccc;
     background-color: #fff;
     list-style-type: none;

 }

 li:nth-child(even) {
     background-color: #f2f2f2;
 }

 li:hover {
     background-color: #dbe4f8;
 }





 .highlight {
     background-color: #ff0;
 }

 .book-info {
     flex: 1;
     text-align: left;
     marker: none;
 }

 .book-list .book-actions {
     display: flex;
     align-items: center;
 }

 .book-actions .star-icon {
     width: 24px;
     height: 24px;
     margin: 0 10px;
     cursor: pointer;
     transition: color 0.88s ease;
     color: #211f1c;
 }

 .book-actions .star-icon:hover {
     width: 27px;
     height: 27px;
     margin: 0 10px;
     cursor: pointer;
     transition: color 0.6s ease;
     color: #5dba0c;
 }

 button {
     background: none;
     color: inherit;
     border: none;
     padding: 0;
     font: inherit;
     cursor: pointer;
     outline: inherit;
 }